* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
}

body {
	-webkit-touch-callout: none;
   	-webkit-user-select: none;
   	-khtml-user-select: none;
   	-moz-user-select: none;
   	-ms-user-select: none;
   	user-select: none;
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(to right, #434343 0%, black 100%);
	display: flex;
	justify-content: center;
	overflow: hidden;
}

img {
	pointer-events: none;
}

.instagram-wrapper {
	display: flex;
	align-items: center;
	width: 60%;
	height: 100vh;
}

.instagram-phone {
	display: flex;
	align-items: center;
	justify-content: center;
	animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  	animation-duration: 3s; /* don't forget to set a duration! */
}

.instagram-phone img {
	height: 40rem;
}

.instagram-phone img:nth-child(2) {
	right: 22rem;
    bottom: 0.8rem;
    position: relative;
    height: 27.6rem;
}

.instagram-continue {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	width: 50%;
	margin-left: -14rem;
	min-height: 34rem;
	animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
  	animation-duration: 3s; /* don't forget to set a duration! */
}

.group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, .7);
	border-radius: 15px;
	width: 100%;
	padding: 1.3rem 0;
	border: 2px solid #fff;
	margin-top: 15px;
}

.group:nth-child(1) {
	min-height: 6rem;
}

.instagram-logo {
	height: 6.5rem;
}

.profile-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	overflow: hidden;

}

.profile-photo img {
	height: 6rem;
}

.instagram-login {
	background: #0095f6;
	color: #fff;
	padding: 8px;
	margin-top: 10px;
	border-radius: 4px;
}

.instagram-login:hover {
	background: linear-gradient(to bottom, #2dc7ed, #538bf0);
}

.instagram-logout {
	color: #0095f6;
	margin-top: 1rem;
}

.not-account {
	color: rgb(160, 160, 160);
}

.link-blue {
	color: #0095f6;
}

.get-the-app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	width: 100%;
	padding: 1.3rem 0;
	animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
  	animation-duration: 2.5s; /* don't forget to set a duration! */
}

.download {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem;
	margin: 2px 10px;
}

.app-download {
	height: 3rem;
	width: 10rem;
	background-size: contain;
	animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
  	animation-duration: 2.5s; /* don't forget to set a duration! */
}

.app-download:nth-child(1) {
	background-image: url(../img/appstore.png);
}

.app-download:nth-child(2) {
	background-image: url(../img/playstore.png);
}

.externos {
	position: absolute;
	display: flex;
	width: 100%;
	left: 12rem;
	bottom: 1rem;
	animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  	animation-duration: 2.5s; /* don't forget to set a duration! */
}

.externos p {
	text-transform: uppercase;
	color: rgb(191, 191, 191);
	margin-left: 5.5rem;
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
}

ul {
	display: flex;
	flex-wrap: wrap;
}

li {
	list-style: none;
}

li a {
	margin: 0 7px;
	text-transform: uppercase;
	font-size: 12px;
	color: rgb(153, 193, 229);
	line-height: 18px;
}

/* Media Queries */

@media (max-width: 1024px) {
	.instagram-wrapper {
		width: 90%;
	}
	.instagram-phone img {
		height: 32rem;
	}

	.externos {
		width: 70%;
		left: 7rem;
		bottom: 0;
	}

	.externos p {
		width: 25rem;
		margin-right: 3rem;
		font-size: 12px;
	}

	.app-download {	
   	 	margin: 0 -15px;
	}
	.instagram-phone img:nth-child(2) {
		right: 17.65rem;
	    bottom: 0.6rem;
	    position: relative;
	    height: 22rem;
	}
}

@media (max-width: 768px) {
	.instagram-wrapper {
		width: 50%;
	}
	.instagram-phone {
		display: none;
	}
	.instagram-continue {
		width: 100%;
		margin-left: 0;
	}

	.app-download {	
   	 	top: -11px;
	    position: relative;
	    height: 1.5rem;
	    width: 5rem;
	    margin-top: 3px;
	    background-size: contain;
	    animation: fadeInDown;
	    animation-duration: 2.5s;
	}

	.externos {
		width: 70%;
		left: 7rem;
		bottom: 2rem;
	}
	.externos p {
		display: none;
	}


}

@media (max-width: 400px) {
	.externos {
		left: 7rem;
	}

}